 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle, #adf6f2, #478ac9);
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 1448px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: Bangers;
  font-size: 3.75rem;
  width: 266px;
  margin: 70px auto 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 70px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 11.3333px));
  min-height: 2011px;
  --gap: 17px;
  grid-auto-columns: calc(33.3333% - 11.3333px);
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  --radius: 25px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 249px;
  margin-top: 1px;
  margin-bottom: 0;
  --top-left-radius: 20px;
  --top-right-radius: 20px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 21px 21px 0;
}

.u-section-1 .u-text-3 {
  margin: 19px 24px 0 18px;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  text-align: center;
  border-style: solid;
  --radius: 10px;
  background-image: none;
  margin: 0 auto;
  padding: 23px 49px 23px 48px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  --radius: 25px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  height: 249px;
  margin-top: 1px;
  margin-bottom: 0;
  --top-left-radius: 20px;
  --top-right-radius: 20px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 21px 21px 0;
}

.u-section-1 .u-text-5 {
  margin: 19px 24px 0 18px;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  text-align: center;
  border-style: solid;
  --radius: 10px;
  background-image: none;
  margin: 0 auto;
  padding: 23px 49px 23px 48px;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  --radius: 25px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  height: 249px;
  margin-top: 1px;
  margin-bottom: 0;
  --top-left-radius: 20px;
  --top-right-radius: 20px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 21px 21px 0;
}

.u-section-1 .u-text-7 {
  margin: 19px 24px 0 18px;
}

.u-section-1 .u-btn-3 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  text-align: center;
  border-style: solid;
  --radius: 10px;
  background-image: none;
  margin: 28px auto 0;
  padding: 23px 49px 23px 48px;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
  --radius: 25px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  height: 249px;
  margin-top: 1px;
  margin-bottom: 0;
  --top-left-radius: 20px;
  --top-right-radius: 20px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 21px 21px 0;
}

.u-section-1 .u-text-9 {
  margin: 19px 24px 0 18px;
}

.u-section-1 .u-btn-4 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  text-align: center;
  border-style: solid;
  --radius: 10px;
  background-image: none;
  margin: 28px auto 0;
  padding: 23px 49px 23px 48px;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
  --radius: 25px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-image-5 {
  height: 249px;
  margin-top: 1px;
  margin-bottom: 0;
  --top-left-radius: 20px;
  --top-right-radius: 20px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 21px 21px 0;
}

.u-section-1 .u-text-11 {
  margin: 19px 24px 0 18px;
}

.u-section-1 .u-btn-5 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  text-align: center;
  border-style: solid;
  --radius: 10px;
  background-image: none;
  margin: 28px auto 0;
  padding: 23px 49px 23px 48px;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
  --radius: 25px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-image-6 {
  height: 249px;
  margin-top: 1px;
  margin-bottom: 0;
  --top-left-radius: 20px;
  --top-right-radius: 20px;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 21px 21px 0;
}

.u-section-1 .u-text-13 {
  margin: 19px 24px 0 18px;
}

.u-section-1 .u-btn-6 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  text-align: center;
  border-style: solid;
  --radius: 10px;
  background-image: none;
  margin: 28px auto 0;
  padding: 23px 49px 23px 48px;
}

.u-section-1 .u-list-item-7 {
  background-image: none;
  --radius: 25px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-image-7 {
  height: 249px;
  margin-top: 1px;
  margin-bottom: 0;
  --top-left-radius: 20px;
  --top-right-radius: 20px;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 21px 21px 0;
}

.u-section-1 .u-text-15 {
  margin: 19px 24px 0 18px;
}

.u-section-1 .u-btn-7 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  text-align: center;
  border-style: solid;
  --radius: 10px;
  background-image: none;
  margin: 28px auto 0;
  padding: 23px 49px 23px 48px;
}

.u-section-1 .u-list-item-8 {
  background-image: none;
  --radius: 25px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-image-8 {
  height: 249px;
  margin-top: 1px;
  margin-bottom: 0;
  --top-left-radius: 20px;
  --top-right-radius: 20px;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 21px 21px 0;
}

.u-section-1 .u-text-17 {
  margin: 19px 24px 0 18px;
}

.u-section-1 .u-btn-8 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  text-align: center;
  border-style: solid;
  --radius: 10px;
  background-image: none;
  margin: 28px auto 0;
  padding: 23px 49px 23px 48px;
}

.u-section-1 .u-list-item-9 {
  background-image: none;
  --radius: 25px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-image-9 {
  height: 249px;
  margin-top: 1px;
  margin-bottom: 0;
  --top-left-radius: 20px;
  --top-right-radius: 20px;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 21px 21px 0;
}

.u-section-1 .u-text-19 {
  margin: 19px 24px 0 18px;
}

.u-section-1 .u-btn-9 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  text-align: center;
  border-style: solid;
  --radius: 10px;
  background-image: none;
  margin: 28px auto 0;
  padding: 23px 49px 23px 48px;
}

.u-section-1 .u-list-item-10 {
  background-image: none;
  --radius: 25px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-10 {
  padding: 0;
}

.u-section-1 .u-image-10 {
  height: 249px;
  margin-top: 1px;
  margin-bottom: 0;
  --top-left-radius: 20px;
  --top-right-radius: 20px;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 21px 21px 0;
}

.u-section-1 .u-text-21 {
  margin: 19px 24px 0 18px;
}

.u-section-1 .u-btn-10 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  text-align: center;
  border-style: solid;
  --radius: 10px;
  background-image: none;
  margin: 28px auto 0;
  padding: 23px 49px 23px 48px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1332px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 11.3333px));
    grid-gap: 17px;
    grid-auto-columns: calc(33.333333333333336% - 11.333333333333334px);
    min-height: 1658px;
  }

  .u-section-1 .u-image-1 {
    height: 206px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-image-2 {
    height: 206px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-image-3 {
    height: 206px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-image-4 {
    height: 206px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-image-5 {
    height: 206px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-image-6 {
    height: 206px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-image-7 {
    height: 206px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-image-8 {
    height: 206px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-image-9 {
    height: 206px;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-image-10 {
    height: 206px;
  }

  .u-section-1 .u-text-20 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-21 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 8.499975px));
    grid-auto-columns: calc(50% - 8.5px);
    min-height: 2381px;
  }

  .u-section-1 .u-image-1 {
    height: 237px;
  }

  .u-section-1 .u-image-2 {
    height: 237px;
  }

  .u-section-1 .u-image-3 {
    height: 237px;
  }

  .u-section-1 .u-image-4 {
    height: 237px;
  }

  .u-section-1 .u-image-5 {
    height: 237px;
  }

  .u-section-1 .u-image-6 {
    height: 237px;
  }

  .u-section-1 .u-image-7 {
    height: 237px;
  }

  .u-section-1 .u-image-8 {
    height: 237px;
  }

  .u-section-1 .u-image-9 {
    height: 237px;
  }

  .u-section-1 .u-image-10 {
    height: 237px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 2.8125rem;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-image-1 {
    height: 356px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-image-2 {
    height: 356px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-image-3 {
    height: 356px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-image-4 {
    height: 356px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-image-5 {
    height: 356px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-image-6 {
    height: 356px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-image-7 {
    height: 356px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-image-8 {
    height: 356px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-image-9 {
    height: 356px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-image-10 {
    height: 356px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.34375rem;
  }

  .u-section-1 .u-image-1 {
    height: 224px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-image-2 {
    height: 224px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-image-3 {
    height: 224px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-image-4 {
    height: 224px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-image-5 {
    height: 224px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-image-6 {
    height: 224px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-image-7 {
    height: 224px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-image-8 {
    height: 224px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-image-9 {
    height: 224px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-image-10 {
    height: 224px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 21px;
    margin-right: 21px;
  }
}