 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle, rgba(128, 210, 252, 0.5), rgba(6, 62, 190, 0.5));
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 1298px;
  margin-bottom: 0;
}

.u-section-1 .u-product-1 {
  min-height: 1299px;
  margin-bottom: 0;
  margin-top: 0;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  width: 540px;
  min-height: 576px;
  height: auto;
  margin: 30px 30px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 18px;
}

.u-section-1 .u-text-1 {
  font-family: Bangers;
  margin: 42px auto 0 12px;
}

.u-section-1 .u-product-price-1 {
  margin: 30px auto 0 12px;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 416px 0 0;
  padding: 3px 0;
}

.u-section-1 .u-product-variation-1 {
  --gap: 10px;
  width: 250px;
  margin: 13px auto 0 12px;
}

.u-section-1 .u-product-quantity-1 {
  width: 125px;
  margin: 15px auto 0 12px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 110px auto 0 12px;
  padding: 17px 30px 19px;
}

.u-section-1 .u-product-category-1 {
  margin: -517px 30px 0 1058px;
}

.u-section-1 .u-gallery-1 {
  width: 598px;
  height: 610px;
  margin: -54px auto 0 -13px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-thumbnails-1 {
  padding: 10px 0 0;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 110px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 218px;
  margin: -24px -30px 0 auto;
}

.u-section-1 .u-video-1 {
  width: 1116px;
  height: 432px;
  margin: -13px auto 0 9px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-text-3 {
  margin: 20px 593px 0 -13px;
  position: relative;
  max-height: none;
  overflow: visible;
  word-wrap: break-word;
  line-height: 1.6;
  font-size: 1.5rem;
  font-weight: 400;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-product-category-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 888px;
  }

  .u-section-1 .u-carousel-item-1 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 91px;
  }

  .u-section-1 .u-carousel-control-2 {
    right: 8px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-video-1 {
    width: 940px;
    height: 364px;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-right: 393px;
    position: relative;
    max-height: none;
    overflow: visible;
    word-wrap: break-word;
    font-size: 1.375rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-product-1 {
    min-height: 1748px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 622px;
    margin-right: auto;
    margin-left: 50px;
  }

  .u-section-1 .u-product-category-1 {
    margin-top: -572px;
    margin-left: 668px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: -655px;
    margin-left: 33px;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 70px;
  }

  .u-section-1 .u-carousel-control-2 {
    right: 6px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 663px;
    margin-right: auto;
  }

  .u-section-1 .u-video-1 {
    width: 720px;
    height: 279px;
    margin-top: -22px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 20px;
    margin-right: 108px;
    margin-left: 52px;
    position: relative;
    max-height: none;
    overflow: visible;
    word-wrap: break-word;
    font-size: 1.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-top: 616px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-product-category-1 {
    margin-top: -566px;
    margin-left: 488px;
  }

  .u-section-1 .u-gallery-1 {
    width: 540px;
    margin-top: -652px;
    margin-left: -30px;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 53px;
  }

  .u-section-1 .u-carousel-control-2 {
    right: 5px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 207px;
    margin-top: 692px;
  }

  .u-section-1 .u-video-1 {
    height: 209px;
    margin-top: -9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    max-height: none;
    overflow: visible;
    word-wrap: break-word;
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1165px;
  }

  .u-section-1 .u-product-1 {
    min-height: 1165px;
  }

  .u-section-1 .u-group-1 {
    min-height: 349px;
    margin-top: 338px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 22px;
  }

  .u-section-1 .u-product-price-1 {
    margin-top: 11px;
    margin-left: 22px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -40px;
    margin-right: 52px;
    margin-left: 265px;
  }

  .u-section-1 .u-product-variation-1 {
    margin-top: 8px;
    margin-left: 10px;
  }

  .u-section-1 .u-product-quantity-1 {
    margin-top: 14px;
    margin-left: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-product-category-1 {
    margin-top: -338px;
    margin-right: -23px;
    margin-left: 317px;
  }

  .u-section-1 .u-gallery-1 {
    width: 424px;
    height: 338px;
    margin-top: -375px;
    margin-left: -42px;
    margin-right: -42px;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 33px;
  }

  .u-section-1 .u-carousel-control-2 {
    right: 3px;
  }

  .u-section-1 .u-image-2 {
    height: 170px;
    width: 401px;
    margin-top: 458px;
    margin-left: -30px;
    margin-right: -30px;
  }

  .u-section-1 .u-video-1 {
    height: 213px;
    margin-top: -24px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    position: relative;
    max-height: none;
    overflow: visible;
    word-wrap: break-word;
    font-size: 1rem;
  }
}